body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}
.contPrincipal{
    width: 100%;
    margin: 0;
    /*border: solid 2px rgb(214, 137, 36);*/
}
header{
    background-color: #eeeeee;
    height: 60px;
    width: 100%; 
}
header nav ul li{
    list-style-type: none;
    float: left;
}
header nav ul  li a{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    display: inline-block;
    color: #2d3646;
}
header nav ul li a:hover{
    background-color: #e52f6e;
    color: white;
}
main{
    background-color: white;
    width:  100%;
    float: left;
}
main img{
    max-width: 100%;
    width: 100%;
}
main section{
    padding: 30px;
}
main section p{
    text-align: justify;
    margin-bottom: 16px;
    line-height: 1.5em;
}
main h1{
    margin-bottom: 20px;
    font-size: 1.6em;
}
aside{
    width: 100%;
    float: left;
    background-color: aquamarine;
    padding: 30px;
}
aside ul li{
    text-decoration: none;
    color: black;
    list-style: none;
    margin-bottom: 16px;
    border-bottom: 1px solid black;
}
aside ul li:hover{
    color:cadetblue;
}
aside h2{
    color: black;
    margin-bottom: 20px;
    font-size: 1.4em;
}
footer{
    width: 100%;
    padding: 20px;
    background-color: burlywood;
}
footer p{
    text-align:center;
}
